@model IEnumerable<Testertest.Models.AdminRoles>

@{
    ViewData["Title"] = "AdminRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center mt-5">Admin Roles</h1>

<p>
    @*<a asp-action="CreateRole">Create New</a> *@
    <a href="AddRole" class="btn btn-success p-2 mb-3 ms-5">Create New +</a>
</p>
<div class="px-5">
    <table class="table table-hover" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminPicture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminEmployeeNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminFirstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminLastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" style="color:red; font-family:'Franklin Gothic Book'"> No rows match the Search Criteria!</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <img style="height:2em" src="@Url.Content(item.AdminPicture)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminEmployeeNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminFirstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminLastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>
                        <td>
                            <a asp-action="EditRole" asp-route-id="@item.AdminRoleId" class="btn btn-info"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a asp-action="DeleteRole" asp-route-id="@item.AdminRoleId" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
</div>

<a class="notificationback-link btn btn-outline-success p-2 mt-5 ms-5" href="DomainPage" type="button">Back</a>



@*<h1>AdminRoles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminEmployeeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminFirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminLastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmployeeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminFirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminLastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminRoleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdminRoleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminRoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@