@model PReMaSys.Models.Rewards
@{
    ViewData["Title"] = "AddToCart";
    ViewBag.Title = "AddToCart";
    
}

@using (@Html.BeginForm())
{

<div class="card border border-success addToCart-card mx-auto border-2 mt-5 mb-3"> 
  <div class="card-body mx-auto">
    <img src="@Url.Content(Model.Picture)" class="card-img-top" alt="...">
  </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item border-success"> <h1 class="text-center fw-bold"> @Model.RewardName</h1></li>
    <li class="list-group-item border-success"><h4>Reward Category: @Model.Category</h4></li>
    <li class="list-group-item border-success"><h4>Reward Description: @Model.Description</h4></li>
    <li class="list-group-item border-success"> <h4>Reward Points Cost: @Model.PointsCost</h4></li>
    <li class="list-group-item text-center border-success ">
     <div>
          <input type="submit" value="Add to Cart" class="btn add-to-cart-btn btn-success"/>
          <a asp-action="EmployeeHomePage" asp-controller="Employee" type="button" class="btn btn-outline-success">Back to List</a>
          
     </div>
      </li>
  

  </ul>
</div>

 @*   <div class="container">
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-10">
                <img style="min-height: 200px; width:200px" src="@Url.Content(Model.Picture)" />
            </div>
            <div>
                <h1>Reward Name:</h1>
                <h1>Reward Category Name: @Model.Category</h1>
                <h1>Reward Description: @Model.Description</h1>
                <h1>Reward Points Cost: @Model.PointsCost</h1>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>*@
}

