@model IEnumerable<PReMaSys.Models.AddToCart>

@{
    Layout = "~/Views/Shared/_LayoutEmployeeLoggedin.cshtml";
    ViewData["Title"] = "AddToCartDisplay";

}



<h1 class="text-center mt-5">Purchases</h1>
<div class="table-responsive">
<table class="table table-hover border-success mt-5" id="cart">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RewardImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardPrice)
            </th>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" style="color:red; font-family:'Franklin Gothic Book'"> <h1>Cart is Empty</h1></td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img style="height:2em" src="@Url.Content(item.RewardImage)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RewardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RewardDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RewardPrice)
                    </td>
                    <td>
                        <a asp-action="DeleteItem" class="btn btn-danger" asp-route-id="@item.CartId">Delete</a>
                    </td>
                    <td>
                        <a asp-action="Purchase"  class="btn btn-success"  asp-route-id="@item.CartId">Purchase</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td><b>Total</b></td>
            <td>@TempData["Total"]</td>
        </tr>
    </tfoot>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
    $('#cart').DataTable();
});
</script>
 <a href="EmployeeHomePage" type="button" class="btn btn-outline-success mt-5">Back to List</a>
</div>






